/* Styling for main .App container */
.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90vh;
  width: 100vw;
}

/* Styling for Global Elements */
code {
  background: #000000;
  color: rgb(18, 186, 236);
}

blockquote {
  background: #bbb8b8;
  color: red;
}

/* Styling by class */
.top {
  width: 100%;
  text-align: center;
}

.editor {
  width: 45%;
}

/* Styling by id  */
#editor {
  height: 90%;
  width: 100%;
  border: 5px solid #000000;
  font-size: 16px;
  padding: 5px;
}

#preview {
  width: 45%;
}
