.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  height: 90vh;
}

.editor {
  height: 100%;
}

code {
  background: #000000;
  color: rgb(18, 186, 236);
}